@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #43766C;
}

header{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

.logo{
    width: 50px;
    margin: 10px;
}

.author{
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.author img{
    width: 5%;
    height: auto;
    cursor: pointer;
}

.toggle{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #76453B;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle img{
    width: 50%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.main img{
    width: 150px;
}

.main button{
    height: 30px;
    width: 150px;
    padding: 8px;
    font-size: 14px;
    color: white;
    background-color: #B19470;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
}

.question-head{
    color: white;
    text-align: center;
    margin: 20px;
    font-size: xx-large;
}

.question{
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 50px;
    border-radius: 10px;
}

.question p{
    margin-bottom: 10%;
}

.question h2{
    text-align: center;
}

.buttons{
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0px 0px 50px;
    border-radius: 10px;
}

.left{
    display: flex;
    flex-direction: column;
}

.option-area{
    width: 500px;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 50px;
}

.options{
    width: 90%;
    height: 10%;
    background-color: #F8FAE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.previous{
    width: 90%;
    height: 20%;
    border: none;
    border-radius: 10px;
    background-color: #B19470;
    color: white;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

.quit{
    width: 90%;
    height: 20%;
    border: none;
    border-radius: 10px;
    background-color: #A42828;
    color: white;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

.next{
    width: 90%;
    height: 20%;
    border: none;
    border-radius: 10px;
    background-color: #43766C;
    color: white;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

.highlited{
    background-color: #76453B;
    color: white;
    width: 95%;
    height: fit-content;
    border-radius: 10px;
}

@media (max-width: 1007px) {
    .quiz{
        flex-direction: column;
        justify-content: center;
    }
    .right{
        justify-content: center;
        align-items: center;
    }
    .left{
        justify-content: center;
        align-items: center;
    }
    .question{
        margin: 0px;
    }
    .buttons{
        margin: 20px;
    }
    .option-area{
        margin: 0px;
        width: 80vw;
    }
    .options{
        margin: 5%;
        width: 90%;
        height: 50px;
    }
    .option-area h1{
        margin: 10px;
    }
}